* {
    margin: 0px 12px;
    padding: 0;
}

ul {
    display: flex;
    align-items: center;
}

ul li {
    padding: 10px 40px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
}

nav {
    height: 6vh;
    background-color: gray;
    display: flex;
    align-items: center;
    padding: 4px 0px;
}

#searchbar {
    padding: 3px 30px;
    width: 21vw;
}

nav img {
    width: 16px;
    position: relative;
    left: 59px;
}

.q1 {
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

.q1 button {
    width: 72px;
    margin-left: 1112px;
    color: white;
    background-color: black;
}

.q1 h3 {
    width: 97px;
}
.q2 th{
    background-color: gray;
}
.q2 table,
.q2 th,
.q2 td {
    border: 2px solid black;
    border-collapse: collapse;
}

.q2 th {
    padding: 0px 112px;
}

.q2 td {
    padding: 20px 59px;
}

.q3 table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
}

.q3 th {
    padding: 15px 170px;
    background-color: grey;
}

.q3 td {
    padding: 20px 60px;
}

.q4 {
    padding: 20px 0px;
}

footer {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    margin: 20px 20px;
}

#Artists1,
#songname,
#datereleased {
    width: 200px;
}

/* Giving 200px width to option bar */
.h1 {
    padding: 30px 0px;
}

/* Giving padding of 30px on top and bottom */
.scbuttons {
    padding: 100px 60px;
}

/* Keeping it below so that when options are extended the options do not get overlapped */
.h2 {
    padding: 30px 0px;
    display: flex;
    align-items: center;
}

.h1 button,
.scbuttons {
    width: 135px;
    height: 26px;
}


#addartist {
    margin: 28px 30px;
    width: 135px;
    height: 26px;
}

.popup {
    width: 630px;
    height: 430px;
    background-color: green;
    border: 2px;
    border-radius: 2px;
    position:absolute;
    top:0px;
    left:50%;
    transform: translate(-50%, -50%) scale(0.1); 
    visibility: hidden;
    text-align: center;
    transition: transform 0.4s, top 0.4s;
}
.openppup{
    visibility: visible;
    top: 50px;
    transform: translate(-50%, -50%) scale(1); 

}

.popup #bio,
.popup .cdbuttons,
.popup #artistname,
.popup #dob {
    margin: 20px 0px;
}

#bio {
    width: 220px;
    height: 150px;
}


#closebtn{
    width: 20px;
    height: 20px;
    box-shadow: 1px;
    border: 1px;
    margin: 3px 600px;
}

.hn{
    display: flex;
    align-content: center;
}